# Git
.git
.gitignore

# Maven
target/
.m2/

# IDE
.vscode
.idea
*.iml
*.iws
*.ipr
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.log.*

# Documentación (opcional si quieres compilar sin docs)
# *.md

# Docker
Dockerfile
.dockerignore
docker-compose.yml
.docker
